@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: white;
    --text-color: black;
    --primary-color: #515155;

    --title-color:#ffffff;
    --subtitle-color:#ffffff;
    --glpi-color: #8f8786;
    --glpi-hover-color: #2ad414;
    --logout-color:#8f8786;
    --logout-hover-color: #d43114;
    --primary-hover-color: #a4a4a5;
    --border-color: #ccccccab;
  }

  
  [data-theme='dark'] {
    
    --bg-color: #1a1a1a;
    --text-color: white;
    --primary-color: #404142;
    --login-bg-from: #2a2a2a;
    --login-bg-to: #3a3a3a;
    
    --title-color:#bdb8b8;
    --subtitle-color:#bdb8b8;
    --glpi-color: #686762;
    --glpi-hover-color: #2ad414;
    --logout-color:#bebeba;
    --logout-hover-color: #d43114;
    --primary-hover-color: #bbbbbb;
    --border-color: #4a4a4ab0;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }